/* Sets font that I downloaded */
@font-face {
    font-family: timepotFont;
    src: url(ProximaNovaSoftW03-Regular.woff)
}

body {
    font-family: timepotFont;
    background-color: #BFDBF7;
    margin: 0 auto;
}

#logo {
    height: 200px;
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #022B3A;
    border: 1px solid #BFDBF7;
    display: flex;
    justify-content:space-between;
    align-content:center;
}

.navBarItems {
    font-size: 22px;
    font-weight: bold;
    padding: 80px;
    border: 80px;
}

.navBarItems:hover {
    cursor: pointer;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #022B3A;
    border: 1px solid #BFDBF7;
}

a {
    text-decoration:none;
    color:inherit;
}

section {
    margin: 50px 0;
    border: 1px solid #BFDBF7;
    height: 700px;
}






/* First Section Styling */
#aboutUs {
    background-color:#FFFFFF;
    background-image: url(imageedit_2_3397526219.png);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    text-align:center;
    font-size: 35px;
    color: #022B3A;
}

#paragraphInAboutUs {
    margin: 10px 180px;
}




/* Second Section Styling */
#services {
    background-color: #ffff;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:center;
}

#paragraphInServices {
    margin: 7px 180px;
}

#servicesList {
    list-style-type: none;
    padding: 0;
    color: #022B3A;
    border: 0;
}

.servicesItems {
    font-size: 22px;
    font-weight: bold;
    padding: 40px;
    border: 0px;
    margin: 0 100px;
    text-shadow: .5px 2px #BFDBF7;
    border: 5px solid #1F7A8C;
    box-shadow: 8px 10px #BFDBF7;
    border-radius: 25px;
}

#topHalfOfServices {
    height:351px;
    font-size: 35px;
    text-align:center;
}

#bottomHalfOfServices {
    height:350px;
    text-align:center;
}




/* Third Section Styling */
#products {
    background-color: #ffff;
    margin: 0 auto;
    padding: 0;
}

#productHeading {
    font-size: 53px;
    text-align: center;
}

.paragraphsInProductSection {
    font-size: 25px;
}

#leftProductContainer {
    float:left;
    clear: left;
    width: 50%;
    height:550px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:flex-start;
    text-align:center;
}

#countryList {
  font-size: 20px;
  text-shadow: .5px 2px #BFDBF7;
  border: 0;
}

.countryLogos {
  margin: 0 10px;
  padding: 2px;
  border: 5px solid #1F7A8C;
  box-shadow: 6px 8px #BFDBF7;
  border-radius: 25px;
}

#rightProductContainer {
    float:right;
    clear:right;
    width: 50%;
    height: 550px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:flex-start;
    text-align:center;
}

#rightProductContainer p {
  margin-top: 55px;
}

#productList {
  font-size: 20px;
  text-shadow: .5px 2px #BFDBF7;
  border: 0;
}

.productItems {
  margin: 45px 18px;
  padding: 12px;
  align-self:center;
  text-align: center;
  border: 5px solid #1F7A8C;
  box-shadow: 3px 6px #BFDBF7;
  border-radius: 25px;
}


/* Fourth Section Styling */
#contactUs {
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content:space-evenly;
}

#contactUsHeading {
    font-size: 53px;
}

.contactUsRow {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.contactUsColumn {
    font-size: 22px;
    float: left;
    width: 32.99%;
    margin; 0 100px;
    text-shadow: .5px 2px #BFDBF7;
/*     border: 2px solid #1F7A8C; */
/*     box-shadow: .5px 10px #BFDBF7; */
    border-radius: 25px;

}

.contactParagraphs {
  

}